opeweather/bin/
opeweather/lib/
opeweather/lib64/
opeweather/share/
opeweather/pyvenv.cfg
opeweather/*.pyc
opeweather/__pycache__/
opeweather/docs/source
opeweather/docs/build
opeweather/lib64
opeweather/src/services/*.enc
opeweather/docs/
opeweather/data/logs
opeweather/data/batch_files
opeweather/source
opeweather/build
opeweather/.env

station_viewer/node_modules/
station_viewer/arduino/lib/WiFiCredentials.h
station_viewer/.next/
station_viewer/logs/
station_viewer/python/src/services/.env

controlcore_ai/core/.env
controlcore_ai/core/__pycache__/

