openweather/bin/
openweather/lib/
openweather/lib64/
openweather/share/
openweather/pyvenv.cfg
openweather/*.pyc
openweather/__pycache__/
openweather/docs/source
openweather/docs/build
openweather/lib64
openweather/src/services/*.enc
openweather/docs/
openweather/data/logs
openweather/data/batch_files
openweather/source
openweather/build
openweather/.env
openweather/data/database_setup/populated

station_viewer/node_modules/
station_viewer/arduino/lib/WiFiCredentials.h
station_viewer/.next/
station_viewer/logs/
station_viewer/python/src/services/.env

controlcore_ai/core/.env
controlcore_ai/core/__pycache__/

__pycache__/
.env

NEW_FRONT_END_DESIGN/node_modules/
NEW_FRONT_END_DESIGN/.next/

controlcore_main_site/node_modules/
controlcore_main_site/.next/

app/api/auth/session/route.ts_bak

controlcore_ai/logs/*.log
